.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  position: relative;
  border-radius: var(--media-radius);
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
  margin-bottom: 2rem;
}

@media (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper:not(.text--below) {
    padding: 0 !important;
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    width: 800px;
    max-width: calc(100% - 8rem);
  }
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: auto
  }

  .collection-hero__image-container img {
    position: relative !important;
  }

  .collection-hero__image-container.image--hide-mobile {
    display: none;
  }

  .collection-hero--with-image .collection-hero__text-wrapper {
    position: unset;
    padding: 2rem 0 0 0 !important;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    /* flex-basis: 50%; */
  }

  .collection-hero__text-wrapper:not(.text--below).has-background {
    background: rgb(var(--color-background));
    border-radius: var(--border-radius);
    padding: 2rem 3rem !important;
  }

  .collection-hero__image-container {
    align-self: stretch;
    width: 100%;
    height: 45rem;
  }
}
